body{
    background-color: white;
}

#ayuda{
    margin: 10px;
}
#doble-oportunidad {
    margin: 10px;
}
#skip {
    margin: 10px;
}

#dos-opciones {
    margin: 10px;
}

.container {
    background-color: #FF5757;
    padding: 20px;
    text-align: center;
    margin-bottom: 5px;
}

#numerodepregunta {
    background-color: white;
    padding-bottom: 10px;
    width: 30%;
}

.container-respuestas {
    height: 100%;
    width: 100%;
}

.container-respuestas .btn-large {
    margin: 5px;
    width: 400px;
    height: 100%;
}

.container-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}
.container-buttons button {
    margin: 10px 0;
}

#modal1 {
    position: absolute;
    justify-content: center;
    text-align: center;
    z-index: 99;
    width: 700px;
    height: 400px;
    border-radius: 20px;
}
.modal-content {    
    width: 100%;
    height: 100%;
    background-color: #e0e0e0 ;
}

.titulo {
    background-color: #ffcc80 ;
    width: 100%;
}
.modal-content .cuerpo {
    text-align: left;
}
#modalFinal {
    position: absolute;
    justify-content: center;
    text-align: center;
    z-index: 99;
    width: 550px;
    height: 170px;
    border-radius: 20px;
}
#respuestasCorrectas {
    text-align: center;
    padding: 10px 0px;
}